<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">User</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-invoice text-white"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-white"> Utility </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                User
              </li>
            </ol>
          </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a
            href="javascript:void(0)"
            class="btn btn-sm btn-default"
            (click)="openModal(registerUser, undefined)"
          >
            Add User
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Total User
                  </h5>
                  <span class="h2 font-weight-bold mb-0"> 350,897 </span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                  >
                    <i class="ni ni-active-40"> </i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2">
                  <i class="fa fa-arrow-up"> </i> 3.48%
                </span>
                <span class="text-nowrap"> Since last month </span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Inactive User
                  </h5>
                  <span class="h2 font-weight-bold mb-0"> 2,356 </span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                  >
                    <i class="ni ni-chart-pie-35"> </i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2">
                  <i class="fa fa-arrow-up"> </i> 3.48%
                </span>
                <span class="text-nowrap"> Since last month </span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Active User
                  </h5>
                  <span class="h2 font-weight-bold mb-0"> 924 </span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                  >
                    <i class="ni ni-money-coins"> </i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2">
                  <i class="fa fa-arrow-up"> </i> 3.48%
                </span>
                <span class="text-nowrap"> Since last month </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">User List</h3>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                  records
                </label>
              </div>
            </div>
            <!-- <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div> -->
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="listuser"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Name</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template
                >{{ row.name }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>User Name</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template
                >{{ row.username }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Date Of Birth</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template
                >{{ row.birth_date | date: "dd/MM/yyyy" }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Mobile No</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template
                >{{ row.mobile_number }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Active</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span
                  *ngIf="row.is_active == false"
                  class="badge badge-pill badge-danger"
                  >False</span
                >
                <span
                  *ngIf="row.is_active == true"
                  class="badge badge-pill badge-success"
                  >True</span
                >
              </ng-template>
            </ngx-datatable-column>

            <!-- <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Action</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="openModal(editUser, row)" style="cursor: pointer;"
                  ><i class="fas fa-edit"></i
                ></a>
                <a
                  (click)="navigatePage('/admin//utility/user-detail', row.id)"
                  style="cursor: pointer;"
                  ><i class="fas fa-eye"></i></a
                > 
              </ng-template>
            </ngx-datatable-column>-->
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #registerUser>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Create New User
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label class="form-control-label">Email</label>
        <input
          class="form-control"
          placeholder="Enter email"
          formControlName="username"
          type="text"
        />
        <!-- <ng-container *ngFor="let message of registerFormMessages.username">
          <div
            *ngIf="
              registerForm.get('username').hasError(message.type) &&
              (registerForm.get('username').dirty ||
                registerForm.get('username').touched)
            "
          >
            <p class="error-message">
              <span>{{ message.message }}</span>
            </p>
          </div>
        </ng-container> -->
      </div>
      <div class="form-group">
        <label class="form-control-label">Password</label>
        <input
          class="form-control"
          placeholder="Password"
          type="password"
          formControlName="password1"
          (focus)="focusPassword = true"
          (blur)="focusPassword = false"
        />
        <!-- <ng-container *ngFor="let message of registerFormMessages.active">
          <div
            *ngIf="
              registerForm.get('active').hasError(message.type) &&
              (registerForm.get('active').dirty ||
                registerForm.get('active').touched)
            "
          >
            <p class="error-message">
              <span>{{ message.message }}</span>
            </p>
          </div>
        </ng-container> -->
      </div>

      <div class="form-group">
        <label class="form-control-label">Confirm Password</label>
        <input
          class="form-control"
          placeholder="Confirm password"
          type="password"
          formControlName="password2"
          (focus)="focusConfirmPassword = true"
          (blur)="focusConfirmPassword = false"
        />
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="registerNewUser()">
      Create
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</ng-template>
<ng-template #editUser>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Edit User
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editUserForm">
      <div class="form-group">
        <label class="form-control-label">Username</label>
        <input
          class="form-control"
          placeholder="Enter email"
          formControlName="username"
          type="text"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Active</label>
        <select class="form-control" name="active" formControlName="active">
          <option>Please Choose</option>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">Enable</label>
        <select class="form-control" name="enabled" formControlName="enabled">
          <option>Please Choose</option>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-control-label">Billing Address</label>
        <input
          class="form-control"
          placeholder="Enter email"
          name="billing_address"
          formControlName="billing_address"
          type="text"
        />
      </div>
      <input name="id" formControlName="id" type="hidden" />
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" type="submit" (click)="updateUser()">
      Create
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</ng-template>
